// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-blue:                      #004685;
$color-blue-light:                rgba(0, 70, 133, 0.2);
$color-grow:                      rgba(0, 70, 133, 0.46);
$color-red:                       #d30531;
$color-blue-hover:                #4b9adf;
$color-red-hover:                 #c22849;

// Typography
//---------------------------------

$font-family--open-sans:         "Open Sans", "Verdana", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--800:                      800px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
